{% extends 'base.html.twig' %}

{% block title %}Hello ScoreController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/Users/maxencetasse/Developpement/Symfony/patternscore/src/Controller/ScoreController.php'|file_link(0) }}">src/Controller/ScoreController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/Users/maxencetasse/Developpement/Symfony/patternscore/templates/score/index.html.twig'|file_link(0) }}">templates/score/index.html.twig</a></code></li>
    </ul>
</div>

<div class="container">
    <h1>Calcul d'un pourcentage sur deux strings</h1>
    <form method="POST" action="{{path('app_score_result')}}">
        <div class="mb-3">
            <label for="phrasetest1" class="form-label">Phrase à tester</label>
            <input type="text" class="form-control" id="phrasetest1" placeholder="Bonjour je suis une phrase à tester. Remplacez-moi.">
        </div>
        <div class="mb-3">
            <label for="phrasetest2" class="form-label">Phrase à tester</label>
            <input type="text" class="form-control" id="phrasetest2" placeholder="Bonjour je suis une phrase à tester. Remplacez-moi.">
        </div>
        <div class="mb-3">
            <button type="submit">
                Valider
            </button>
        </div>
    </form>
</div>
{% endblock %}
